  <h2><%= @event.event_mountain %></h2>
  <p>Hike On: <%= @event.event_date.strftime('%a %d %b %Y')%></p>
  <p>Leaving At: <%= @event.event_leave_time.strftime("%k:%M")%></p>
  <p>Location Point: <%= @event.location_point %></p>
  <p>Planner: <%= @event.planner %></p>
  <p>Description: <%= @event.description %><p/>
  <%= link_to "Back to all events", events_path %>
